@import "normalize";
@import "main";

$grey: #3f4144;
$lightgrey: #585b5e;
$yellow: #dfc48c;
$blue: #03adb0;

* {
	box-sizing: border-box;
	position: relative;

}
 
@font-face {
    font-family: 'andes';
    src: url('../fonts/Andes-Condensed-Regular-webfont.eot');
    src: url('../fonts/Andes-Condensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Andes-Condensed-Regular-webfont.woff') format('woff'),
         url('../fonts/Andes-Condensed-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Andes-Condensed-Regular-webfont.svg#andes_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

//////////////////icomoon//////////////////

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-v24xao');
    src:url('../fonts/icomoon.eot?#iefix-v24xao') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-v24xao') format('woff'),
        url('../fonts/icomoon.ttf?-v24xao') format('truetype'),
        url('../fonts/icomoon.svg?-v24xao#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-dribbble:before {
    content: "\e601";
}
.icon-pin:before {
    content: "\e602";
}
.icon-arrow:before {
    content: "\e603";
}
.icon-arrow-box:before {
    content: "\e600";
}
.icon-envelope:before {
    content: "\e604";
}



///end icomoon///


html {
    background-color: $grey; 
    position: relative;
}

body{
    overflow:hidden;
}

a{
    text-decoration:none;
}

h1, h2, h3, h4, p {
    font-family: 'andes', Arial, sans-serif;
    font-weight:normal;
}

img {

    background-color: $blue;
}


//////////////////header//////////////////

header {
    width: 75%;
    float: left;
    position:fixed;

    > div {
        top: 50%;
        transform: translateY(-50%);
    }
}


h1 { 
    text-align:center;
    color:$yellow;
    font-size:40px;
    max-width: 600px;
    margin:0 auto;

}

.name {
    border-bottom: 3px solid $yellow; 
    cursor:pointer; 
}

.portrait {
    position: absolute;
    margin-top:-225px;
    margin-left:20px;
    opacity:0;
    transition: ease .5s opacity;
}


h1 span:hover > .portrait{
    opacity:1;
}

.arrow-portrait {
    width: 0; 
    height: 0; 
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-top: 14px solid $lightgrey;
    left:41px;
}

.icons {
    text-align:center;

    p {
        position:absolute;
        font-size:18px;
        color:$blue;
    }

    div {
        display:inline-block;
        padding-top:50px
    }
}

.icon-dribbble, .icon-envelope, .icon-pin {
    font-size:30px;
    margin:60px;
}

a.icon-dribbble, a.icon-envelope, a.icon-pin {
    color:$blue;
}

.icons p {
    opacity:0;
}

a.icon-dribbble:hover p, a.icon-envelope:hover p, a.icon-pin:hover p {
    opacity:1;
    transition: ease .5s all;
}


.icon-envelope p {
    margin-left: -72px;
    padding:4px;
}

.icon-dribbble p {
    margin-left: -22px;
    padding:4px;
}

.icon-pin p {
    margin-left: -42px;
    padding:4px;
}

.tab {
    position: absolute;
    top: 50%;
    margin-top: -100px;
    right: 30px;
    font-size:30px;
    color:$grey;
    width:200px;
    text-align:center;
    padding-top:10px;
    height:60px;
    background-color:$blue;
    cursor:pointer;

    transform-origin: 100% 50%;
    transform: translateY(-50%) rotate(-90deg);


    transition: 0.2s opacity;
  

        span {
            top: 4px;
            padding-left: 6px;
        }
}

.bio-title {
   display:none; 
}

.work-title {
   display:inline; 
}

.tab:hover {

  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=8)";

  /* Netscape */
  -moz-opacity: 0.8;

  /* Safari 1.x */
  -khtml-opacity: 0.8;

  /* Good browsers */
  opacity: 0.8;

}

//////////////////header hover//////////////////

@media screen and (min-width: 960px) {

    .teasers-open{

        header{
            
            width:25%;
              
             > div {
                height:100%;
                top: auto;
                transform: translateY(0%);
            }
        }

        h1{
            text-align: left;
            padding-left: 35px;
            margin-top:60px;
        }

        .bio{
            display:none;
        }

        .tab{
            transform: rotate(90deg); 
            margin-top:100px;
        }

        .work-title {
           display:none ; 
        }

        .bio-title {
           display:inline ; 
        }

        .portrait {
            position: absolute;
            margin-top:28px;
            margin-left:20px;
        }

        .arrow-portrait {
            border-top:none;
            border-bottom: 14px solid $lightgrey;
            margin-top:-164px;
        }

        .icons {
            position: fixed;
            float: left ;
            bottom: 120px;
            text-align:left;

            div {
                display:block;
            }

            p {
                text-align: left;
            }
        }

        .icon-dribbble, .icon-envelope, .icon-pin{
            margin: 35px;
        }

    }

}


@media screen and (min-width: 1350px) {

    .teasers-open {
        .icon-envelope p, .icon-dribbble p, .icon-pin p {
            margin-left: 50px;
            top: -16px;
        }
    }
}



//////////////////Portolio Teaser//////////////////

main {
    width:75%;
    float:right;
    margin-right:-50%;
}

.nolink-box {
    position: fixed;
    width:25%;
    top:0;
    right:0;
    height: 100%;
    z-index:100;
}

.project-sample {
    width:100%;
    padding-bottom:22.73%;
    display:block;

    img{
        position:absolute;
        width:100%;
        transition: ease .5s opacity;

    }
}

.overlay {
    width: 70%;
    height: 60%;
    background-color: $blue;
    position:absolute;
    margin: 4.5% 15%;
    text-align:center;
    opacity: 0;
    transition: ease .5s opacity;
    transition-delay: .1s;


        > div {
            display:inline-block;
            height: 100%;
            vertical-align:top;
        }

        h2 {
            font-size: 30px;
            color: $grey;
            text-align:center;
            margin: 0;
        }

        h3 {
            font-size: 18px;
            color: $grey;
            text-align:center;
            margin: 0;
        }

        .hgroup {
            top: 50%;
            transform: translateY(-50%);
            padding-right: 30px;
        }

        p {
            color: $grey;
            text-align:center;
            font-size: 30px;
            margin: 0;
            top: 50%;
            transform: translateY(-50%);
        }
 }

.icon-arrow-box {
    display:block;
}  




//////////////////Portolio Teaser Hover//////////////////
@media screen and (min-width: 960px) {

    .teasers-open{
        main {
            width:75%;
            margin-right:0;
        }
    }

}

@mixin overlay {

    a.project-sample:hover {

        img {
            opacity:.8;
        }

        .overlay {
            opacity:.95;
        }
    }

}


@media screen and (max-width: 960px){
    @include overlay;

    .nolink-box {
        display:none;
    }
}


.teasers-open {
    @include overlay;
    
    .nolink-box {
        display:none;
    }
}

body.teasers-open {
    overflow: visible !important;
}


//////////////////Portfolio Teaser Touch//////////////

.touch {
    .overlay h2, .overlay h3 {
        display:none;
    }

    .overlay {
        width: 60px;
        height: 60px;
        position: absolute;
        margin: 0;
        bottom: 0;
        right: 0;
        opacity: 1;


        > div {
            display:inline-block;
            height: 100%;
            vertical-align:top;
        }

        p {
            top: auto;
            bottom: 50%;
        }
    }

    a.project-sample:hover img {
        opacity:1;
    }
}



//////////////////Media Query < 1350 //////////////////

@media screen and (min-width: 960px) and (max-width: 1350px) {

    .teasers-open{

        .icon-envelope p, .icon-dribbble p, .icon-pin p {
            margin-left: -5px;
            top: 22px;
            font-size: 15px;
        }
    }

}

//////////////////Media Query < 960 //////////////////

@media screen and (max-width: 960px) {

    body{
        overflow: visible;
    }

    header {
        width:100%;
        float:none;
        position:relative;
    }

    .tab {
        position: absolute;
        top:auto;
        bottom: 0px;
        right: 50%;
        transform-origin:0;
        transform: translateY(0%) rotate(0deg) translateX(50%) ;
        margin:0;
    }

    main {
        width:100%; 
        float:none; 
        position:relative;        
    }

    .overlay h3 {
        display:none;
    }
}
 
//////////////////Media Query < 700 //////////////////

@media screen and (max-width: 700px) {

    h1 { 
        font-size:32px;
        max-width: 500px;
    }

    .tab {
        font-size:26px;
        width: 180px;
        height: 50px;
        padding-top:6px;
    }

    .touch {
        .overlay {
            width: 50px;
            height: 50px; 

            > div {
                height:0;
            }

            p {
                font-size: 26px;
            }
        }
    }

}

//////////////////Media Query < 550 //////////////////

@media screen and (max-width: 550px) {

    h1 { 
        font-size:24px;
        max-width: 360px;
    }

       .tab {
        font-size:20px;
        width: 160px;
        height: 50px;
        padding-top:9px;
    }

    .icon-dribbble, .icon-envelope, .icon-pin {
        margin:40px;
    }

    div.icons {
        padding-top: 10px;
    }

    .touch {
        .overlay {
            width: 40px;
            height: 40px; 

            > div {
                height:0;
            }

            p {
                font-size: 20px;
            }
        }
    }

}