@import "normalize";
@import "main";

$grey: #3f4144;
$lightgrey: #585b5e;
$yellow: #dfc48c;
$blue: #03adb0;
//Content Grid
$paddingscreen: 8%; 
$innerpaddingscreen: 5%;
$columnscreen: 30%;
$twocolumnscreen: 63%;
$halfcolumnscreen: 47%;
$halfcolumnpadding: 6%;
$bottompadding:15%;
$paddingmobile: 12%;



* {
	box-sizing: border-box;
	position: relative;

}
 
@font-face {
    font-family: 'andes';
    src: url('../fonts/Andes-Condensed-Regular-webfont.eot');
    src: url('../fonts/Andes-Condensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Andes-Condensed-Regular-webfont.woff') format('woff'),
         url('../fonts/Andes-Condensed-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Andes-Condensed-Regular-webfont.svg#andes_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'desyrel';
    src: url('../desyrel-webfont.eot');
    src: url('../desyrel-webfont.eot?#iefix') format('embedded-opentype'),
         url('../desyrel-webfont.woff') format('woff'),
         url('../desyrel-webfont.ttf') format('truetype'),
         url('../desyrel-webfont.svg#desyrelregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.fader {
    opacity: 1;
    transition: opacity 0.5s;
    
    &.faded {
        opacity: 0 !important;
    }

    @media screen and (max-width: 960px) {
        &.faded {
            opacity: 1 !important;
        }
    }
}

::selection {
    background: $blue; /* Safari */
    }
::-moz-selection {
    background: $blue; /* Firefox */
}

//////////////////icomoon//////////////////

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-v24xao');
    src:url('../fonts/icomoon.eot?#iefix-v24xao') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-v24xao') format('woff'),
        url('../fonts/icomoon.ttf?-v24xao') format('truetype'),
        url('../fonts/icomoon.svg?-v24xao#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-dribbble:before {
    content: "\e601";
}
.icon-pin:before {
    content: "\e602";
}
.icon-arrow:before {
    content: "\e603";
}
.icon-arrow-box:before {
    content: "\e600";
}
.icon-envelope:before {
    content: "\e604";
}

////resuable////


///end icomoon///


html {
    background-color: $grey; 
    position: relative;
}

body{
    overflow:hidden;
}

a{
    text-decoration:none;
}

h1, h2, h3, h4, p, a, li {
    font-family: 'andes', Arial, sans-serif;
    font-weight:normal;
}

img {

    //background-color: $blue;
}


//////////////////header//////////////////

header {
    width: 75%;
    float: left;
    position:fixed;
    // transition: width 0.25s;   

    > div {
        top: 50%;
        transform: translateY(-50%);
    }
}


h1, h1 a { 
    text-align:center;
    color:$yellow;
    font-size:40px;
    max-width: 600px;
    margin:0 auto;
}

.name {
    border-bottom: 3px solid $yellow; 
    cursor:pointer; 
    .home & {
        cursor: default;
    }
}

.portrait {
    position: absolute;
    margin-top:-225px;
    margin-left:20px;
    opacity:0;
    transition: opacity .5s ease;
///display none until done///
    display:none;


}


h1 a:hover > .portrait{
    opacity:1;
}

.arrow-portrait {
    width: 0; 
    height: 0; 
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-top: 14px solid $lightgrey;
    left:41px;
}

.icons {
    text-align:center;

    p {
        position:absolute;
        font-size:18px;
        color:$blue;
    }

    div {
        display:inline-block;
        padding-top:50px
    }
}

.icon-dribbble, .icon-envelope, .icon-pin {
    font-size:30px;
    margin:60px;
}

a.icon-dribbble, a.icon-envelope, a.icon-pin {
    color:$blue;
}

.icons p {
    opacity:0;
}

a.icon-dribbble:hover p, a.icon-envelope:hover p, a.icon-pin:hover p {
    opacity:1;
    transition: all .5s ease;
}


.icon-envelope p {
    margin-left: -72px;
    padding:4px;
}

.icon-dribbble p {
    margin-left: -22px;
    padding:4px;
}

.icon-pin p {
    margin-left: -42px;
    padding:4px;
}

.tab {
    position: fixed;
    top: 50%;
    margin-top: -100px;
    margin-right: 30px;
    right: 25%;
    font-size:30px;
    color:$grey;
    width:200px;
    text-align:center;
    padding-top:10px;
    height:60px;
    background-color:$blue;
    cursor:pointer;
    transform-origin: 100% 50%;
    transform: translateY(-50%) rotate(-90deg);

    transition: opacity 0.2s, right 0.25s;

        span {
            top: 4px;
            padding-left: 6px;
        }
}

.bio-title {
   display:none; 
}

.work-title {
   display:inline; 
}

.tab:hover {

  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=8)";

  /* Netscape */
  -moz-opacity: 0.8;

  /* Safari 1.x */
  -khtml-opacity: 0.8;

  /* Good browsers */
  opacity: 0.8;

}

//////////////////header hover//////////////////

@media screen and (min-width: 960px) {

    .teasers-open{

        header{
            width:25%;
              
             > div {
                height:100%;
                top: auto;
                transform: translateY(0%);
            }
        }

        h1{
            text-align: left;
            padding-left: 35px;
            margin-top:60px;
        }

        .bio{
            display:none;
        }

        .tab{
            transform: rotate(90deg); 
            margin-top:70px;
            right: 75%;
        }

        .work-title {
           display:none ; 
        }

        .bio-title {
           display:inline; 
        }

        .portrait {
            position: absolute;
            margin-top:28px;
            margin-left:20px;
        }

        .arrow-portrait {
            border-top:none;
            border-bottom: 14px solid $lightgrey;
            margin-top:-164px;
        }

        .icons {
            position: fixed;
            float: left ;
            bottom: 120px;
            text-align:left;

            div {
                display:block;
            }

            p {
                text-align: left;
            }
        }

        .icon-dribbble, .icon-envelope, .icon-pin{
            margin: 35px;
        }

    }

}


@media screen and (min-width: 1350px) {

    .teasers-open {
        .icon-envelope p, .icon-dribbble p, .icon-pin p {
            margin-left: 50px;
            top: -16px;
        }
    }
}



//////////////////Portolio Teaser//////////////////

main {
    width:75%;
    float:right;
    margin-right:-50%;
    transition: margin 0.25s;
}

.nolink-box {
    cursor: pointer;
    position: fixed;
    width:25%;
    top:0;
    right:0;
    height: 100%;
    z-index:100;
}


.full {
    width: 100%;
    clear:both;
}

.half {
    width: 50%;
    float: left;
}

.project-sample {
    padding-bottom:22.73%;
    display:block;

    img{
        position:absolute;
        width:100%;
        transition: opacity .5s ease;
    }
}

.overlay {
    width: 70%;
    height: 60%;
    background-color: $blue;
    position:absolute;
    margin: 4.5% 15%;
    text-align:center;
    opacity: 0;
    transition: opacity .5s ease;
    transition-delay: .1s;
    overflow:hidden;


        > div {
            display:inline-block;
            height: 100%;
            vertical-align:top;
        }

        h2 {
            font-size: 30px;
            color: $grey;
            text-align:center;
            margin: 0;
        }

        h3 {
            font-size: 18px;
            color: $grey;
            text-align:center;
            margin: 0;
        }

        .hgroup {
            top: 40%;
            padding-right: 30px;
            transition: .4s ease;
            transition-delay: .1s;
        }

        p {
            color: $grey;
            text-align:center;
            font-size: 30px;
            margin: 0;
            top: 60%;
            transition: .4s ease;
            transition-delay: .1s;
        }
 }

 .half .overlay {
    margin: 9.5% 15%;
 }

.icon-arrow-box {
    display:block;
}  




//////////////////Portolio Teaser Hover//////////////////
@media screen and (min-width: 960px) {

    .teasers-open{
        main {
            width:75%;
            margin-right:0;
        }
    }

}

@mixin overlay {

    a.project-sample:hover {

        img {
            opacity:.8;
        }

        .overlay {
            opacity:.95;
        }

        .hgroup {
            top: 50%;
            transform: translateY(-50%);
        }

        p { 
            top: 50%;
            transform: translateY(-50%);
        }   
    }

}


@media screen and (max-width: 960px){
    @include overlay;

    .nolink-box {
        display:none;
    }
}


.teasers-open {
    @include overlay;
    
    .nolink-box {
        display:none;
    }
}

body.teasers-open {
    overflow: visible !important;
}


//////////////////Portfolio Teaser Touch//////////////

.touch {
    .overlay h2, .overlay h3 {
        display:none;
    }

    .overlay {
        width: 60px;
        height: 60px;
        position: absolute;
        margin: 0;
        bottom: 0;
        right: 0;
        opacity: 1;


        > div {
            display:inline-block;
            height: 100%;
            vertical-align:top;
        }

        p.icon-arrow-box {
            font-size: 30px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    a.project-sample:hover img {
        opacity:1;
    }
}

//////////////////Media Query > 1450 //////////////////

@media screen and (min-width: 1450px){
    
    .intro > p {
        font-size: 22px !important;
        line-height:150%;
    }

    p.onecolumn, p.twocolumn {
        font-size: 18px
    }

    .overlay {

        h2{
            font-size:40px;
        }

        h3{
            font-size:24px;
        }

        p{
            font-size: 40px;
        }
    }
}


//////////////////Media Query < 1350 //////////////////

@media screen and (min-width: 960px) and (max-width: 1350px) {

    .teasers-open{

        .icon-envelope p, .icon-dribbble p, .icon-pin p {
            margin-left: -5px;
            top: 22px;
            font-size: 15px;
        }
    }

}

//////////////////Media Query < 960 //////////////////

@media screen and (max-width: 960px) {

    body{
        overflow: visible;
    }

    header {
        width:100%;
        float:none;
        position:relative;
    }

    .tab {
        position: absolute;
        top:auto;
        bottom: 0px;
        right: 50%;
        transform-origin:0;
        transform: translateY(0%) rotate(0deg) translateX(50%) ;
        margin:0;
    }

    main {
        width:100%; 
        float:none; 
        position:relative;   
    }

    .overlay {
        h3 {
            display:none;
        }

        h2, p {
            font-size: 25px;
        }
        
        .hgroup {
            padding-right:12px;
        }
    }
}
 
//////////////////Media Query < 700 //////////////////

@media screen and (max-width: 700px) {

    h1, h1 a { 
        font-size:32px;
        max-width: 500px;
    }

    .tab {
        font-size:26px;
        width: 180px;
        height: 50px;
        padding-top:6px;
    }

    .overlay {
        h3 {
            display:none;
        }

        h2, p {
            font-size: 20px;
        }
        
        .hgroup {
            padding-right:12px;
        }
    }

    .touch {
        .overlay {
            width: 50px;
            height: 50px; 

            > div {
                height:0;
            }

            p {
                font-size: 26px;
            }
        }
    }

}

//////////////////Media Query < 550 //////////////////

@media screen and (max-width: 550px) {

    h1, h1 a { 
        font-size:24px;
        max-width: 340px;
    }

       .tab {
        font-size:20px;
        width: 160px;
        height: 50px;
        padding-top:9px;
    }

    .icon-dribbble, .icon-envelope, .icon-pin {
        margin:30px;
    }

    div.icons {
        padding-top: 10px;
    }

    .overlay {
        h3 {
            display:none;
        }

        h2, p {
            font-size: 16px;
        }
        
        .hgroup {
            padding-right:8px;
        }
    }

    .touch {
        .overlay {
            width: 40px;
            height: 40px; 

            > div {
                height:0;
            }

            p {
                font-size: 20px;
            }
        }
    }
}


//////////////////Media Query < 440 //////////////////

@media screen and (max-width: 550px) {

    a.icon-dribbble:hover p, a.icon-envelope:hover p, a.icon-pin:hover p {
        opacity:0;

    }
}

@media screen and (max-width: 360px) {

    h1, h1 a {
        font-size:20px;

    }
}


//////////////////Work Pages //////////////////

#projects{
    background-color:#E0E2E0;

    h2, h3, h4, p {
        color: $grey;
    }

    p{
        a{ 
            color:$blue; 
        }

        a:hover{
            opacity:.8;
        }
    }

}

.navigation{
    position:absolute;
    top:0;
    width: 100%;
    height:50px;

    span {
        top:2px;
        display:inline-block;
        padding: 10px;
    }
}

.bottom-navigation{
    position:relative;
    bottom:0;
    width: 100%;
    height:50px;

    span {
        top:2px;
        display:inline-block;
        padding: 10px;
    }

}

.bar{
    background-color:$lightgrey;
    opacity:.4;
    width:100%;
    position:absolute;
    top:0;
    height:50px;
}

.back, .next, .backup {
    width:160px;
    position:absolute;
    font-size:22px;
    color:$blue;
    text-align:center;
    background-color:$grey;
    opacity:.4;
    transition: opacity .3s ease;
}

.back:hover, .next:hover, .backup:hover {
    opacity:.7;
}

.back{
    left:0;
    top:0;
    z-index:1000;
}

.next{
    right:0;
    top:0;
    z-index:10001;
} 

.backup{
    right:0;
    bottom:0;
    z-index:10001;
}

.back {
    .icon-arrow-box{
        transform:rotate(180deg);
    }
}



.banner{
    background-color: $blue;
    img{
        width:100%
    }  

    .hgroup{
        position: absolute;
        bottom:20px;
        padding-left:$paddingscreen;
    }

    h2 {
        margin: 10px 0;
        font-size: 80px;
        line-height: 70%;
    }

    h3{
        margin:0;
        font-size:26px;
        opacity:.7;
    }

}


.intro{
    > p {
        display: block;
        width: $twocolumnscreen;
        float:left;
        margin: 0 $innerpaddingscreen 0 0;
        font-size:20px;
    }


    .role{
        width:$columnscreen;
        float:left;

        ul {
            padding-left: 10px;
            margin: 10px 0;
        }

        li {
            padding-bottom: 4px;
            color: $lightgrey;
        }
    }

    h4{
        margin:0;
    }

    li {
        list-style:none;
    }
}



.backup {
    .icon-arrow-box{
        transform:rotate(270deg);
    }
}

#projects {

 a.visitsite , a.visitsite:visited, p.visitsite{
    text-align:center;
    font-weight:normal;
    display:inline-block;
    width:100%;
    color:$blue;
    text-decoration:none;
    font-size: 30px;
    transition: opacity .4s ease;
    margin-bottom:10%;
    }
   
}

.visitsite {
     .icon-arrow{
        top:5px;
        left: 6px;
        display:inline-block;
        transform: rotate(-90deg);
    }


}


//setting up grid//

.outerpadding {
    margin: $paddingscreen $paddingscreen 0 $paddingscreen;
}

.onecolumn {
    width: $columnscreen;
    margin-right: $innerpaddingscreen;
    margin-top: $paddingscreen;
    float: left;
}

.twocolumn {
    width: $twocolumnscreen;
    margin-right: $innerpaddingscreen;
    margin-top: $paddingscreen;
    float: left;
}

.threecolumn {
    width: 100%;
    margin-top: $paddingscreen;
}

.halfcolumn{
    width:$halfcolumnscreen;
    margin-right:$halfcolumnpadding;
    margin-top: $paddingscreen;
    float:left;
}

.center {
    float: none;
    display: block;
    margin: 0 auto;
    padding-top: $paddingscreen;
}

.last {
    margin-right: 0;
}

.first {
    margin-top:0;
}

.finalblock {
    padding-bottom: 10%;
}

.extrapadding{
    margin-top:2%;
}

.lesspadding{
    margin-top: 2%;
}

.floatright {
    float: right;
}

.alignright {
    text-align: right;
}

//////////////////Work Pages Custon//////////////////

#projects {
    .whitetitle {
        color: #e0e2e0;
        text-shadow: 2px 2px 8px transparentize($grey, 0.5);
    }   

}

////platform////

.gridoverlay {
    position: absolute;
    bottom: 0;
    opacity: 0;
}

.gridbutton {
   width: 80%;
    text-align: center;
    background-color: $blue;
    height: 50px;
    margin: 0;
    padding-top: 14px;
    font-size: 18px;
    transition: opacity .4s ease;
}

.gridbutton:hover {
    opacity:.8;
    cursor:pointer;
}

///booksatwork////
@media screen and (min-width: 550px) {
    .loweredblurb {
        padding-top: 4.5%;
    }

    .booksatwork {
        .content.outerpadding {
            margin-top: 4%;
        }
    }
}
////parental controls////

@media screen and (max-width: 766px) {
    h2.shrink {
       font-size: 55px;
       line-height: 100%;
    }
}

@media screen and (max-width: 425px) {
    h2.shrink {
       font-size: 35px !important;
    }
}
//////////////////Work Pages Responsive//////////////////

@media screen and (max-width: 960px) {
    .tab {
        cursor:default;
    }

    .tab:hover {
        opacity:1;
    }

    .navigation{
        position:relative;
        margin-bottom: 220px;
    }

    .banner {
        .hgroup {
            bottom: 0;
            margin-bottom: -220px;
        }
    }

    #projects {
        .whitetitle {
            color: $grey;
            text-shadow: 0 0 0;
        }   

    }

}

@media screen and (max-width: 550px) {

    .navigation{
        margin-bottom: 160px;
    }

    .banner{

        .bannerimg {
            overflow-x:hidden;
        }

        .hgroup{
            margin-bottom: -180px;
        }

        img{
            height:220px;
            margin-left: -20%;
            width:auto;   
        }

        h3{
            font-size:24px;
        }

        h2{
            font-size:60px;
        }
    }

    .intro{
        p{
            width:100%;
        }

        .role{
            width:100%;
            margin-top:$paddingscreen;
        }
    }

    .outerpadding{
        margin: 0 $paddingscreen 0 $paddingscreen;
    }

    .alignright {
        text-align: left;
    }


    ////grid////
    .onecolumn, .twocolumn, .halfcolumn, .threecolumn {
        width: 100%;
        margin-top: $paddingmobile;
    }

    p.onecolumn, p.twocolumn, p.halfcolumn, p.threecolumn {
        margin-bottom: 0;
    }

    .gridbutton {
        margin: 0 auto;
        margin-top:-8%;
    }
}

@media screen and (max-width: 550px) {

    .banner{

        img{
            height:220px;
            width:auto;   
        }

        h3{
            font-size:20px;
        }

        h2{
            font-size:44px;
        }
    }

    .intro > p {
        font-size: 18px;
    }
}

//////////////404////////////////

#projects {
    
    .error {

        h2 {
            font-size: 100px;
            color: $blue;
            text-align: center;
            margin: 0;
        }

        h3 {
            text-align: center;
            font-size: 40px;
            margin: -22px 0 20px 0;
        }

        p {
            font-size: 24px;
            text-align: center;
            margin: 0;
        }

        img {
            margin: 0 auto;
            display: block;
            width: 500px;
            padding-bottom: 60px;
        }
    }

    .error.outerpadding {
        margin-top:2%;
    }
}


@media screen and (max-width: 960px) {
    #projects{

        .error {
            img {
                width:80%;
            }

            h3{
                margin-top: -13px;
            }
        }

        .error.outerpadding {
             margin-top:0%;
             padding-top: 10%;
        }
    }
}

@media screen and (max-width: 550px) {
    #projects{
        .error {
            img {
                width:100%;
            }
        }
    }
}
